body {
    background: #263238;
}

h2 {
    color: #89ddff
}

.subtitle {
    color: #ffffff
}

p {
    color: #ffffff
}

h3 {
    color: #89ddff
}

body {
font-family: Helvetica, sans-serif;
}

body {
font-size: 20px;
}

sql-exercise {
    color: #ffffff
}

.header-product {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #37474f;
    background: #37474f;
}

h1.product-logo, .product-logo {
    font-size: 3.82082rem;
    font-family: "Salvo Serif Cond",Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    color: #f3797f;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
