body {
    background: #263238;
}

h2 {
    color: #89ddff
}

.subtitle {
    color: #ec5f67
}

p {
    color: #ffffff
}

h3 {
    color: #89ddff
}

body {
font-family: Helvetica, sans-serif;
}

body {
font-size: 20px;
}

sql-exercise {
    color: #ffffff
}
